<div class="outerWrap">
    <div class="treeTop">
        <img src="../../assets/img/bushes1.png" alt="">
    </div>
    <div class="leaveWrap">
        <div class="leaveTopL">
            <img src="../../assets/img/leaveTopL.png" alt="">
        </div>
        <div class="leaveTopR">
            <img src="../../assets/img/leaveTop.png" alt="">
        </div>
    </div>
    <!-- <div class="leaveTop"></div> -->
    
  <div class="alignWrap">
        <div class="frmWrap" >
            <div class="leopeard">
                <img src="../../assets/img/leopeard/face.png" class="d-block mx-100" class="face">
                <img src="../../assets/img/leopeard/body.png" class="d-block mx-100">
            </div>
            <form class="frmCol" #form="ngForm" (ngSubmit)="resetPassword(form)">
                <h3>Reset Password</h3>
                <div class="inputWrap" >
                    <input type="text" name="verifyCode" placeholder="Enter Code" [(ngModel)]="user.varifyCode" #varifyCode="ngModel" class="from-control" required>
                 <!-- error msg -->
                    <div *ngIf="varifyCode.invalid &&( varifyCode.dirty || varifyCode.touched)">
                        <div *ngIf="varifyCode.errors?.['required']">*Verification code  is required</div>
                    </div>
                </div>
               

                <div class="inputWrap" >
                    <input type="password" name="newPassword" placeholder="New Password" [(ngModel)]="user.newPassword" class="from-control"  minlength="8" #newPassword="ngModel" required>
                    <!-- error msg -->
                    <div *ngIf="newPassword.invalid &&( newPassword.dirty || newPassword.touched)">
                        <div *ngIf="newPassword.errors?.['required']">*Password is required</div>
                        <div *ngIf="newPassword.errors?.['minlength']">*Password cannot be less then 8 characters</div>
                    </div>
                </div>
                <div class="inputWrap">
                    <input type="password"  name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="user.confirmPassword" class="from-control" #confirmPassword="ngModel" required>
                    <div *ngIf="confirmPassword.invalid &&( confirmPassword.dirty || confirmPassword.touched)">
                        <div *ngIf="confirmPassword.errors?.['required']">*Password is required</div>
                        <div *ngIf="confirmPassword.errors?.['minlength']">*Password cannot be less then 8 characters</div>
                    </div>
                </div>
                <ng-container *ngIf="showErrorMsg">
                    <div class="errorMsg">
                        <span class="err-icon">!</span>
                        {{ this.errorMsg}}
                    </div>
                </ng-container>
                <button type="submit" class="btn-send-code btn-blue-grd" (click)="startSound()" [disabled]="form.invalid">
                    Save 
                    <span *ngIf="form.invalid" class="btn-blue-grd-text">Please fill all the fields</span>

                </button>
                <!-- <p class="text-center back-txt-link" [routerLink]="['/login']">Back</p>-->

            </form>

        </div>
        <!-- <p class="text-center">Or</p> -->
        
        <button class="orng-btn d-block" type="submit" [routerLink]="['/login']">
            Log In 
        </button>
    </div>
</div>
 



<div class="leavesLB">
    <img src="../../assets/img/leaves.png" alt="" />
</div>
<div class="leavesRB">
    <img src="../../assets/img/leaves.png" alt="" />
</div>

<app-loader></app-loader>
