<div class="outerWrap">
    <div class="treeTop">
        <img src="../../assets/img/bushes1.png" alt="">
    </div>
    <div class="leaveWrap">
        <div class="leaveTopL">
            <img src="../../assets/img/leaveTopL.png" alt="">
        </div>
        <div class="leaveTopR">
            <img src="../../assets/img/leaveTop.png" alt="">
        </div>
    </div><!--leaveWrap//-->
    <!-- <div class="leaveTop"></div> -->
    <div class="alignWrap loading-align-wrap">
        <div class="loading-image-wrap">
            <img src="../../assets/img/logo_safari_canasta.png" alt="Safari Logo" title="Safari Canasta" />
        </div><!--loading-image-wrap//-->
        <div class="progress-bar-wrap">
            <div class="progress-value" [style.width.%]="progressValue">
                <span class="progress-vehicle" [style.left.%]="progressVehicle"></span>
            </div>
            <div class="progress-val-data">
               <h4 class="value-data">{{this.progressBar}}</h4>
            </div>
        </div>
    </div><!--alignWrap//-->
    
</div><!--outerWrap//-->
<div class="zebra">
    <img src="../../assets/img/zebra.png" class="d-block mx-100">
</div>

<div class="leavesLB">
    <img src="../../assets/img/leaves.png" alt="">
</div>
<div class="leavesRB">
    <img src="../../assets/img/leaves.png" alt="">
</div>