<div class="outerWrap">
    <div class="treeTop">
        <img src="../../assets/img/bushes1.png" alt="">
    </div>
    <div class="leaveWrap">
        <div class="leaveTopL">
            <img src="../../assets/img/leaveTopL.png" alt="">
        </div>
        <div class="leaveTopR">
            <img src="../../assets/img/leaveTop.png" alt="">
        </div>
    </div>
    <!-- <div class="leaveTop"></div> -->
    
    <div class="alignWrap">
        <div class="frmWrap">
            <div class="leopeard">
                <img src="../../assets/img/leopeard/face.png" class="d-block mx-100" class="face">
                <img src="../../assets/img/leopeard/body.png" class="d-block mx-100">
            </div>
            <form class="frmCol" #form="ngForm" (ngSubmit)="verifyEmail()">
                <h3>Forgot Password</h3>
                <div class="inputWrap">
                    <input type="text" placeholder="Enter Email Here" name="email" [(ngModel)]="user.email" #email="ngModel" class="from-control" required />
                     <!-- error msg -->
                    <div *ngIf="email.invalid &&(email.dirty || email.touched)">
                        <div *ngIf="email.errors?.['required']">*Email is required</div>
                        <!-- <div *ngIf="email.errors?.['email']">Please enter valid email address</div> -->
                    </div>
                </div>
                <ng-container *ngIf="showErrorMsg">
                    <div class="errorMsg">
                        <span class="err-icon">!</span>
                        {{ this.errorMsg}}
                    </div>
                </ng-container>
               
                <button class="btn-send-code btn-blue-grd" type="submit" [disabled]="form.invalid" [class.disabled-button]="form.invalid">
                    Send Code 
                    <span *ngIf="form.invalid" class="btn-blue-grd-text">Please enter email</span>
                </button>
                <p class="text-center back-txt-link" [routerLink]="['/login']">Back</p>        
            </form>
        </div>
        <p class="text-center">Or</p>
        <button class="orng-btn d-block" type="submit" [routerLink]="['/signup']">
            Sign up 
        </button>
    </div>
</div>

<div class="zebra">
    <img src="/assets/img/zebra.png" class="d-block mx-100">
</div>

<div class="leavesLB">
    <img src="../../assets/img/leaves.png" alt="" />
</div>
<div class="leavesRB">
    <img src="../../assets/img/leaves.png" alt="" />
</div>

<app-loader></app-loader>
