<!-- <ng-template #reconnect let-modal> -->
    <div class="dark-background">
        <div class="modal-body modalBg tabSpace">
            <div class="createRoomWrap"> 
            <h3 *ngIf="!this.model.isOffline">Reconnecting{{this.dotsText}}</h3>
            <h3 *ngIf="this.model.isOffline">Please check your network</h3>
                <!-- <p class="erroMsg">{{this.modal.roomCodeToJoinAndShare}}</p> -->
                <!-- <h4>Entry Fee : 100 <img src="/assets/img/gems.png" alt="gems"></h4> -->
            </div>
        </div>
    </div>

<!-- </ng-template> -->           
